[Unit]
Description=Car Service
Requires=network-online.target
After=network-online.target

[Service]
ExecStart=/opt/rpi-car-control/run.sh
User=pi
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
